*{margin:0;padding:0}

hr{
    border-top: 1px solid #aaaaaa;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

body{
    padding-top: 50px;
}

.container{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
}

#myCarousel{
    width: 100%;
}

.carousel-inner{
    width: 100%;
}

.carousel-inner img{
    width: 100%;
}

.main-container{
    padding-left: 80px;
    padding-right: 80px;
}

.main-container .left-container{
    padding-left: 0px;

}

.main-container .right-container{
    padding-right: 0px;
}

.main-container .right-container img{
    width: 100%;
    height: auto;
}

.main-container .right-container .detail{
    padding-top: 20px;
}



/* footer */
footer
{
    background: #ffffff;
    color: #000000;
    min-height: 120px;
    text-align: center;

}

.copy
{
    padding-bottom: 20px;
}

.share-group
{
    display: block;
    width: 1080px;
    margin: 0px auto;
    padding:20px;
}

.share-group li
{
    display: inline-block;
    padding: 10px;
}